# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Raw_Data/de_DE/de_DE.blogs.txt
Raw_Data/de_DE/de_DE.news.txt
Raw_Data/de_DE/de_DE.twitter.txt
Raw_Data/en_US/en_US.blogs.txt
Raw_Data/en_US/en_US.news.txt
Raw_Data/en_US/en_US.twitter.txt
Raw_Data/fi_FI/fi_FI.blogs.txt
Raw_Data/fi_FI/fi_FI.news.txt
Raw_Data/fi_FI/fi_FI.twitter.txt
Raw_Data/ru_RU/ru_RU.blogs.txt
Raw_Data/ru_RU/ru_RU.news.txt
Raw_Data/ru_RU/ru_RU.twitter.txt
exploreData.RData

s_blogs.RData

s_twitter.RData

.RData

PredPrep.RData
